*{
    box-sizing: border-box;
}
.form{
    width:600px;
    margin: auto;

}

.form .input-block{
    margin-bottom: 20px;
}

.form .input-block input {
    width: 100%;
}

.form .input-block .error{
    display: none;
}
.form .input-block .error.active{
    display: block !important;
}
