.popup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.5);
}

.popup .popup-content{
    width: 500px;
    margin: auto;
    background-color: white;
    position: relative;
    animation-name: top;
    animation-duration: 0.4s;
    padding: 20px;
}

.popup .close{
    color: #aaa;
    font-weight: bold;
    font-size: 28px;
    margin-left: auto;
    cursor: pointer;
}

@keyframes top {
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top:0;
        opacity: 1;
    }
}